<%= form_with(model: pt_trainer, local: true) do |form| %>
  <% if pt_trainer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pt_trainer.errors.count, "error") %> prohibited this pt_trainer from being saved:</h2>

      <ul>
      <% pt_trainer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select :birthdate, :start_year => 1940, :end_year => 2020, :selected => 1980 %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.number_field :sex %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.text_field :area %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
    <%= image_tag(pt_trainer.image.to_s) if pt_trainer.image.present? %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
